.amp/portals/*
node_modules/
**/node_modules/
.output/
**/.output/
dist/
**/dist/
target/
**/src-tauri/gen/
**/src-tauri/tauri.release.conf.json
*.tsbuildinfo
**/.dev.vars
**/.dev.vars.*
.env
.env.*
!.env.example
.DS_Store
