.amp/portals/*
apps/web/public/emoji/twemoji-15/
node_modules/
**/node_modules/
.output/
**/.output/
dist/
**/dist/
target/
.venv/
.ruff_cache/
__pycache__/
*.py[cod]
*.tsbuildinfo
**/.dev.vars
**/.dev.vars.*
.env
.env.*
!.env.example
.DS_Store
